body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.main-container{
    width: 700px;
    height: 700px;
    border-color: black;
    border-style: solid;
    padding: 0;
    display: flex;
    flex-flow: wrap;
    align-content: flex-start;
}

.unit{
    margin: 0;
    padding: 0;
    border: solid;
    border-color: black;
    border-width: 1px;
}

.size-button {
    margin: 30px;
}

